.experiencia {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--violet-200);
  gap: 20px;
  margin-top: 20px;

  /* Estilo para o Título da Seção */
  .titulo-secao {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--violet-900);
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  /* Container de Exibição da Experiência */
  .container-experiencia {
    flex: 2;
    background-color: var(--violet-100);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .cargo-info {
      margin-bottom: 15px;

      h1 {
        font-size: 1.8rem;
        color: var(--violet-900);
      }

      p {
        font-size: 1.2rem;
        color: var(--violet-800);
      }
    }

    .empresa-info {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 50px;
        height: auto;
        border-radius: 50%;
      }

      p {
        font-size: 1rem;
        color: var(--violet-700);
      }
    }
  }

  /* Container de Opções com Balões de Interação */
  .container-opcoes {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
  
    .opcao-balao {
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      width: 80px;
      height: 68px;
      transition: transform 0.2s ease;
      background: linear-gradient(135deg, var(--violet-300), var(--violet-500), var(--secondary-300));
      background-size: 200% 200%; /* Aumenta o tamanho para o efeito */
      animation: gradientAnimation 3s ease infinite; /* Aplica a animação */
      
  
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
  
      &:hover {
        transform: scale(1.1);
        animation: gradientAnimation 1.5s ease infinite; /* Acelera a animação no hover */
      }
    }
  }
}

/* Animação de gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .experiencia {
    flex-direction: column;
  }

  .container-experiencia,
  .container-opcoes {
    width: 100%;
    flex: 1;
  }

  .opcao-balao {
    img {
      width: 30px;
    }
  }
}
