<section class="sobre-container">
  <nav class="nav-menu">
    <div class="logo">
      <img src="assets/image/logo.png" alt="Logo">
    </div>
    <button class="menu-toggle" aria-label="Menu" (click)="toggleMenu()" [class.active]="menuOpen">☰</button>
    <ul class="menu-items" [class.open]="menuOpen">
      <li><a href="#sobre" (click)="scrollToSection('sobre')">Sobre</a></li>
      <li><a href="#experiencia" (click)="scrollToSection('experiencia')">Experiência</a></li>
      <li><a href="#cursos" (click)="scrollToSection('cursos')">Cursos</a></li>
      <li><a href="#detalhes" (click)="scrollToSection('detalhes')">Detalhes</a></li>
    </ul>
  </nav>
  
  


  <!-- Seção de Apresentação -->
  <div class="sobre-content">
    <!-- Div do conteúdo textual -->
    <div class="texto">
      <h1>Stefany martins</h1>
      <h2>Estudante de Marketing e Publicidade</h2>
      <p>
        Sou uma pessoa persistente e dedicada, sempre buscando aprender coisas novas que despertam meu interesse. Cursando Letras (Inglês) e Publicidade e Propaganda, também atuo em atividades voluntárias, ensinando inglês e português básico. Apaixonada pela língua inglesa e pela comunicação, acredito no poder de ajudar e inspirar as pessoas ao meu redor.
      </p>
    </div>

    <!-- Div da imagem -->
    <div class="imagem">
      <img src="assets/image/tete01.png" alt="Imagem da Pessoa" />
    </div>
  </div>
</section>
