<!-- Componente de Detalhes / Rodapé -->
<footer class="detalhes">
    <div class="rodape-conteudo">
      <h2 class="nome-site">Portfólio de Stefany Martins</h2>
      <p>Desenvolvedora Full Stack • Paixão por Tecnologia e Criatividade</p>
    </div>
  
    <!-- Ícones de Contato -->
    <div class="icones-contato">
      <a href="https://www.linkedin.com/in/seu-perfil"  aria-label="LinkedIn">
        <img src="assets/icons/git.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/seu-usuario"  aria-label="GitHub">
        <img src="assets/icons/lin.png" alt="GitHub">
      </a>
      <a href="mailto:seu-email@example.com"  aria-label="Email">
        <img src="assets/icons/twi.png" alt="Email">
      </a>
      <a href="https://twitter.com/seu-usuario" aria-label="Twitter">
        <img src="assets/icons/gma.png" alt="Twitter">
      </a>
    </div>
  </footer>
  