<!-- Componente de Detalhes / Rodapé -->
<footer class="detalhes">
    <div class="rodape-conteudo">
      <h2 class="nome-site">Portfólio de Stefany Martins</h2>
      <p>Estudante de Letras e Marketing • Paixão por Comunicação e Aprendizado Contínuo</p>
    </div>
  <!--teste github-->
    <!-- Ícones de Contato -->
    <div class="icones-contato">
      <a href="https://www.linkedin.com/in/stefany-martins-776596236/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <img src="assets/icons/lin.png" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/stefanymartins_ds/profilecard/?igsh=NXdta2ozeWk3ejJv" target="_blank" rel="noopener noreferrer"  aria-label="GitHub">
        <img src="assets/icons/ins.png" alt="instagram">
      </a>
    </div>
  </footer>
  