html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Remove scroll horizontal */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* src/styles.scss */
:root {
  --violet-50: #fcf2fd;
  --violet-100: #f6d7f7;
  --violet-200: #f2c4f4;
  --violet-300: #eca9ee;
  --violet-400: #e899eb;
  --violet-500: #e27fe6;
  --violet-600: #ce74d1;
  --violet-700: #a05aa3;
  --violet-800: #7c467f;
  --violet-900: #5f3561;

  --secondary-50: #fff9f9;
  --secondary-100: #ffeeeb;
  --secondary-200: #ffe5e2;
  --secondary-300: #ffd9d5;
  --secondary-400: #ffd2cd;
  --secondary-500: #ffc7c0;
  --secondary-600: #e8b5af;
  --secondary-700: #b58d88;
  --secondary-800: #8c6d6a;
  --secondary-900: #6b5451;
}
