<section class="cursos">
  <h2 class="titulo-secao">Cursos e Certificações</h2>

  <!-- Botões de Categoria -->
  <div class="categorias">
    <button class="categoria-botao" (click)="selecionarCategoria('faculdade1')">Anhanguera</button>
    <button class="categoria-botao" (click)="selecionarCategoria('ingles')">são judas universidade</button>
  </div>

  <!-- Área de Exibição de Cursos -->
  <div class="curso-detalhe" *ngIf="cursoSelecionado">
    <img [src]="cursoSelecionado.imagem" alt="{{ cursoSelecionado.nome }}" class="curso-imagem" />
    <div class="curso-info">
      <h3>{{ cursoSelecionado.nome }}</h3>
      <p>{{ cursoSelecionado.descricao }}</p>
      <a href="https://drive.google.com/drive/folders/1B93SaAYGW1-iL06AjGoW-vI_MPW_or-3?usp=drive_link" target="_blank" rel="noopener noreferrer" class="ver-mais">Ver Mais</a>
    </div>
  </div>
</section>
